//Header styles
@import '../2-modules/header';
//Main
@import '../2-modules/main';
//Footer
@import '../2-modules/footer';

//Hide Scrollbar
:root {
	scroll-behavior: smooth;
}
body {
	font-family: 'Noto Sans Display', sans-serif;
	::selection {
		background-color: #5959594f;
	}
	overflow-x: hidden;
}

//Header
body > header {
	@include header;
	position: relative;
}
//Main
body > main {
	@include main;
}
//Footer
body > footer {
	@include footer;
}
