// == Backgrounds ==
$light-backgoround: #ffffff;
$dark-backgoround: #3d3d3f;
$darker-background: #313134;

// == Text colors ==
$lighter-text: #ababab;
$light-text: #54585a;

$dark-text: #595959;
$darker-text: #3d4246;

$link-highlight: #26282b;

$heading-text: #3d3d40;
