@mixin underline_animation {
  & > a::before {
    content: " ";
    position: absolute;
    left: 0;
    width: 100%;
    transform: scalex(0);
    transform-origin: right bottom;
    bottom: 0;
    display: inline-block;
    height: 0.125rem;
    background-color: $darker-text;
    transition: transform 0.2s ease-in;
  }

  & > a:hover::before {
    transform: scalex(1);
    transition: transform 0.2s ease-in;
    transform-origin: left bottom;
  }
}
